<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="__PUBLIC__/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">管理员</h5>

            <li class="mt">
                <a class="active" href="{:U('Index/index')}">
                    <i class="fa fa-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-desktop"></i>
                    <span>消息管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="{:U('News/index')}">自动回复消息设置</a></li>
                    <li><a  href="{:U(News/tellMsg)}">推送消息设置</a></li>
                    <li><a  href="{:U(News/thingsReply)}">事件设置</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>素材管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="calendar.html">临时素材管理</a></li>
                    <li><a  href="gallery.html">永久素材管理</a></li>
                    <li><a  href="todo_list.html">Todo List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>用户管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="calendar.html">用户列表</a></li>
                    <li><a  href="gallery.html">黑名单管理</a></li>
                    <li><a  href="todo_list.html">Todo List</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>账号管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="blank.html">生成二维码</a></li>
                    <li><a  href="login.html">转换短连接</a></li>
                    <li><a  href="lock_screen.html">Lock Screen</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>数据统计</span>
                </a>
                <ul class="sub">
                    <li><a  href="form_component.html">用户分析数据接口</a></li>
                    <li><a  href="form_component.html">图文分析数据接口</a></li>
                    <li><a  href="form_component.html">消息分析数据接口</a></li>
                    <li><a  href="form_component.html">接口分析数据接口</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-th"></i>
                    <span>Data Tables</span>
                </a>
                <ul class="sub">
                    <li><a  href="basic_table.html">Basic Table</a></li>
                    <li><a  href="responsive_table.html">Responsive Table</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Charts</span>
                </a>
                <ul class="sub">
                    <li><a  href="morris.html">Morris</a></li>
                    <li><a  href="chartjs.html">Chartjs</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>